LIGHTDASH_URL=https://lightdash.ktl.data.ktl.net
LIGHTDASH_TOKEN=ldpat_...
LIGHTDASH_ADMIN_TOKEN=ldpat_...
PROJECT_UUID=f2378588-4052-482e-9afb-9cceeac5568c
AGENT_UUID=
EMBED_SECRET=
SANDBOX_SPACE_SLUG=
OPENAI_API_KEY=sk-...
